<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MidTerm - Hoang Chuong Nguyen</title>
<link rel="stylesheet" href="css/main.css">
</head>
<body>
<h1>Purchase Sheet Music</h1>
	<!-- add purchase object to the form -->
<form action="/purchase" method="post" th:object=${purchase}>
	<p><label for="id">ID: 
		<input type="text" name="id" id="id" 
			pattern="\d+" 
			th:field="*{id}" required> 
	</label>
	<br>
	<label for="title">Title:
		<input type="text" name="title" id="title"
			th:field="*{title}" required>
	</label>
	<br>
	<label for="price">Price: 
		<input type="text" name="price" id="price" 
		th:field="*{price}">
	</label>
	</p>
	
	<p><label for="delivery">Delivery Method:
		<select name="delivery" id="delivery" 
		th:field="*{delivery}">
			<!-- collect data from deliver 
			database to the select option by doing loop th:each
			the value is deliver id and it automatically increase-->
			<option 
			th:each="d: ${deliveries}" 
			th:value="${d.id}"
			th:text = "|${d.name} (${d.fee})|"> </option>
		</select>
		</label></p>
	<p><input type="submit"></p>
</form>
</body>
</html>